<!DOCTYPE html>
<html>
  <title>Movie Logic</title>
  <body>
    
  <h1>Here is Your Result</h1>
  <ul>
    <% genre_options = [] %>
    <% squares.each do |square| %>
    <li> <%= square %> </li>
    <% end %>
  </ul>
  
  </body>
  
</html>